<<<<<<< Updated upstream
=======
/* Settingsbox */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

>>>>>>> Stashed changes
p {
    margin: 0;
}

<<<<<<< Updated upstream
.SettingsBox {
    width: 40%;
    height: 45%;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 32px;
    box-sizing: border-box;
    background-color: rgba(217, 217, 217, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    position: absolute;
    left: 30%;
    top: 25%
}

.Button {
=======
.settingsbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 40%;
    height: 40%;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 32px;
    box-sizing: border-box;
    background-color: rgba(189, 177, 177, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    position: absolute;
    left: 30%;
    top: 30%;
}

.group-262 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.group-394 {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
}

.lightbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 20%;
    width: 25%;
    position: absolute;
    top: 15%;
    left: 15%;
    border-radius: 35px;
    box-sizing: border-box;
    background-color: rgba(217, 217, 217, 1);
}

.light {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgba(0, 0, 0, 1);
    font-size: 24px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    text-align: center;
    margin: auto;
}

.darkbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 20%;
    width: 25%;
    position: absolute;
    top: 15%;
    right: 15%;
    border-radius: 35px;
    box-sizing: border-box;
    background-color: rgba(217, 217, 217, 1);
}

.dark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgba(0, 0, 0, 1);
    font-size: 24px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    text-align: center;
    margin: auto;
}

.group-290 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.cblightbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 20%;
    width: 25%;
    position: absolute;
    bottom: 15%;
    left: 15%;
    border-radius: 35px;
    box-sizing: border-box;
    background-color: rgba(217, 217, 217, 1);
}

.colorblind-light {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgba(0, 0, 0, 1);
    font-size: 24px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    text-align: center;
    margin: auto;
}

.cbdarkbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 20%;
    width: 25%;
    position: absolute;
    bottom: 15%;
    right: 15%;
    border-radius: 35px;
    box-sizing: border-box;
    background-color: rgba(217, 217, 217, 1);
}

.colorblind-dark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgba(0, 0, 0, 1);
    font-size: 24px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    text-align: center;
    margin: auto;
}

.ColorButton {
>>>>>>> Stashed changes
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 15%;
    height: 15%;
<<<<<<< Updated upstream
    padding: 58px 109px 57px;
=======
>>>>>>> Stashed changes
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 32px;
    box-sizing: border-box;
    position: absolute;
}
